body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

@keyframes pulse-soft {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
}

.animate-pulse-soft {
    animation: pulse-soft 2s infinite ease-in-out;
}

@media print {
    body * {
        visibility: hidden;
    }
    #printable-receipt-area, #printable-receipt-area * {
        visibility: visible;
    }
    #printable-receipt-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    @page {
        size: auto;
        margin: 0;
    }
}